<html>
	<body>		
		<h1>Machine learning</h1>
		
		<p>Modele pour resumer un texte</p>


		<form action="/summary" method="post">		    	
			<div>
			<label for="msg">Votre message :</label>
			<textarea id="msg" name="texte_a_resumer"></textarea>
			</div>
	 
		   <div class="button">
				<button type="submit">resumer le texte</button>
			</div>
		</form>


		<footer>
		<p>---</p>
		<p>
		retour page acceuil <a href="/home">home</a>
		<br>
		A propos de ce site : <a href="/about">About</a>
		</p>
		</footer>

	</body>
</html>
