<!DOCTYPE html>
<html lang="fr">
<body>
<!--<body bgcolor=”#800000"> 
    <CENTER><img src="https://i.pinimg.com/originals/4a/a5/d2/4aa5d2217688d2d130b2f83b61a6cade.jpg" alt="" width = 500 height = 300>!-->
    <p style="color:black; font-family:Arial; font-size: 45px">Texte résumé:</p>
    <p style="color:black; font-family:Arial; font-size: 45px">{{ text_resume }}</p>

    <footer>
		<p>---</p>
		<p>
		retour page acceuil <a href="/home">home</a>
		<br>
		A propos de ce site : <a href="/about">About</a>
		</p>
	</footer>
</body>
</html>